<div class="container">
  <a href="/surveys/create">Create a survey</a>


  <ul class="index">


 <li>
  <%@surveys.each do |survey|  %>
    <p><a href='/take_survey/<%= survey.id %>'>Take this survey</a></p>
  <%end%>
  </li>

  <li class="names">
  <%@surveys.each do |survey|  %>
    <p><%= survey.title %> </p>
  <%end%>
  </li>

  </ul>
 </div>


