<div class="container" id="survey_box">
  <form action="/surveys" method="POST" id="create_survey_form">
    <label> Title:
      <input type='text' name='title' required>
    </label>
    <input id="submit" type="submit" value="Create a new survey">
  </form>


<!--   <div class="container" id="question_box">
      <form action="/surveys" method="POST" id="create_survey_form">
    <label> Question:
      <input type='text' name='description'>
    </label>
      <input type="submit" value="Save">
  </form>

    <div class="container" id="choice_box">
      <form action="/surveys" method="POST" id="create_survey_form">
    <label> Option:
      <input type='text' name='option'>
    </label>
      <input type="submit" value="Save">
  </form>
  </div>
  </div>
 -->

<!-- <div class="container">
      <form action="/surveys" method="POST" id="create_survey_form">
    <label> Question:
      <input type='text' name='description'>
    </label>
      <input type="submit" value="Save">
  </form>

    <div class="container">
      <form action="/surveys" method="POST" id="create_survey_form">
    <label> Option:
      <input type='text' name='option'>
    </label>
      <input type="submit" value="Save">
  </form>
  </div>

  <div class="container">
      <form action="/surveys" method="POST" id="create_survey_form">
    <label> Option:
      <input type='text' name='option'>
    </label>
      <input type="submit" value="Save">
  </form> -->
<button>Add question!</button>

</div>
