<div class="container">
  <h1>results</h1>
  <% @questions.each do |question| %>
    <p>Question<%= question.description %></p>
      <% question.choices.each do |choice| %>
        <p>Options</p><p><%= choice.option %></p>
        <p style="color:red;">Count</p><%= choice.responses.count %>
      <% end %>
  <% end %>


</div>
